:root {
  --clr-primary-bright-red: hsl(12, 88%, 59%);
  --clr-primary-dark-blue: hsl(228, 39%, 23%);

  --clr-neutral-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-neutral-dark-blue: hsl(233, 12%, 13%);
  --clr-pale-red: hsl(13, 100%, 96%);
  --clr-light-gray: hsl(0, 0%, 98%);
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;
    padding-bottom: 8rem;
}

.testimonials-heading {
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
}

.testimonial-card {
    min-width: 600px;
    border-radius: 8px;
    background-color: var(--clr-light-gray);
    padding: 2.75rem;
    & p {
        text-align: center;
    }
}

.test-name {
    color: var(--clr-neutral-dark-blue);
    font-weight: 700;
    margin-block: 10px;
}

.test-img {
    margin-inline: auto;
}

.test-testimonial {
    color: var(--clr-neutral-dark-grayish-blue);
}

.testimonials-list {
    display: flex;
    padding-inline: 2rem;
    /* justify-content: center; */
    margin-block: 3rem;
    gap: 1.25rem;
    overflow-x: scroll;
}

.testimonials-list::-webkit-scrollbar {
    width: 1px;
}

@media (max-width: 650px) {
    .testimonial-card {
        min-width: 100%;
    }

    .testimonials-heading {
        font-size: 2rem;
    }
}